

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <title></title>
</head>
<body>
    <div class="jumbotron"><h1>Historisation</h1></div>
    
        
    
    


    <script type="text/html" src="~/scripts/jquery.validate.js"></script>
</body>
</html>
